@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;700&family=Space+Grotesk:wght@400;700&display=swap');
html {
    scroll-behavior: smooth;
}
:root {
    --primary-color: #042D60;
    --secondary-color: #10A2E0;
    --bg-color: #081B2A;
    --heading-size: 75px;
    --padding: 0 60px 0 60px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.horizontal-line {
    width: 95vw;
    height: 5px;
    background-color: var(--secondary-color);
    border: 1px solid black;
}

body {
    font-family: 'Readex Pro', sans-serif;
    background-color: var(--bg-color);
    scrollbar-color: inherit;
}

h1 {
    font-size: var(--heading-size);
    color: var(--secondary-color);
    text-align: center;
}

p {
    font-size: large;
    color: white;
    text-align: justify;
}

li {
    color: white;
    font-size: large;
}
